# ========================
# Node / React
# ========================
node_modules/
dist/
build/
.vite/

# ========================
# Python / FastAPI
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.venv/

# ========================
# Database
# ========================
*.db

# ========================
# OS / misc
# ========================
.DS_Store
Thumbs.db